body{
    background-color: beige;
}
h1{
    color: rgb(53, 148, 116);
    font-size: 20px;
}
h1.titulo{
    font-size: 50px;
    text-align: center;
    color: brown; 
}
img{
    border-radius: 65px;
    border: 7px solid black;
    box-shadow: 0 0 10px rgba(210,18,18,0.3);  
}
img.um{
    width: 300px;
    height: 200px;
     

}
h1.subtitulo{
    font-size: 25px;
    text-align: center;
    color: blueviolet;
}
img.dois{
    width: 300px;
    height: 200px; 
     
}
img.tres{
     width: 300px;
    height: 200px; 
   
}
img.quatro{
     width: 300px;
    height: 200px; 
    
}

.boxpatinho{
    border: 2px solid black;
    border-radius: 15px;
    background-color: darkgray;
    padding: 100px;
    margin: 100px;
    width: 250px;
}
